.App {
  background-color: #171d2b;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  justify-content: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.Context {
  background-color: #171d2b;
  height: 100vh;
  flex-direction: column;
}

.Row {
  display: flex;
  height: 60%;
  flex: 1;
  flex-direction: row;
}

.Map {
  background-color: #a4b4d6;
  padding: 20px;
  flex: 8;
}

.Dashboard {
  background-color: #95e2ac;
  padding: 20px;
  flex: 3;
  flex-direction: column;
}

.BarChart {
  background-color: #e9a7d8;
  height: 40%;
  padding: 20px;
  flex: 1;
}