.App {
  background-color: #171d2b;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  justify-content: center;
}

.Context {
  background-color: #171d2b;
  height: 100vh;
  flex-direction: column;
}

.Row {
  display: flex;
  height: 60%;
  flex: 1;
  flex-direction: row;
}

.Map {
  overflow: hidden;
  background-color: #d6d5dd;
  padding: 20px;
  flex: 8;
}

.Dashboard {
  background-color: #d6d5dd;
  padding: 20px;
  flex: 3;
  flex-direction: column;
}

.BarChart {
  background-color: #6f6d77;
  height: 40%;
  padding: 20px;
  flex: 1;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 2px;
}
.infoBox {
  padding: 20px;
  flex: 3;
  flex-direction: column;
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 10px 0px;
  justify-content: left;
}

.dropdown {
  text-align: left;
}

select {
  background-color: #bab9be;
  /* border: black; */
  padding: 0 0 0 0;
  margin: 0;
  width: 90%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  /* line-height: inherit; */
}

.slider-parent {
  margin-top: 25px;
}